<%= simple_form_for quote, html: { class: "quote form" } do |f| %>
  <% if quote.errors.any? %>
    <div class="error-message alert alert-danger">
      <%= quote.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <div class="mb-3 row">
    <div class="col-6">
      <%= f.input :name, input_html: { autofocus: true }, class: 'form-control col-6' %>
    </div>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
