<h1>Index</h1>
<br>
<h3>Hotwire</h3>
<ul>
  <li><%= link_to 'Quotes', quotes_path %> by <a href="https://www.hotrails.dev/turbo-rails" target="_blank">Hotrails.dev</a></li>
</ul>
<h3>Stimulus</h3>
<ul>
  <li><%= link_to 'Basics', stimulus_basics_index_path %></li>
</ul>